body{
    background-image: url(https://tse1.mm.bing.net/th/id/OIP.ezIeTDKzDKLSVINmabFf7AHaEK?pid=Api&P=0&h=180);
    color:white;
    background-size: cover;
    background-repeat: no-repeat;
    padding:0;
    margin:0;
}
h5{
    background-color: blue;
}
